body {
    background-image: url('http://i.imgur.com/wO6GjK2.jpg');
    color: #C4C8CB;
}
#first {
    border-width: 5px;
    border-style: solid;
}
.container .jumbotron {
    background-color: #ffffff;
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 50px #010000;
    border: 2px solid #010000;
}

#button {
    height: 50px;
    width: 120px;
    background-color: #bcd2ee;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 50px #010000;
    border: 2px solid #010000;

}
#home-button {
    font-size: 20px;
    height: 50px;
    width: 120px;
    background-color: #DC143C;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 50px #010000;
    border: 2px double #010000;
}
.meet-molly {
    height: 60px;
    width: 172px;
    background-color: #6495ED;
    text-align: center;
    box-shadow: 0 0 50px #010000;
    border: 2px solid #010000;
}
span {
   color: #010000;
   text-shadow: 1px 1px #010000;
   letter-spacing: 1em;
   font-size: 20px;
   font-family: Papyrus; 
}
a {
   text-decoration: none;
   font-family: Impact;
   text-shadow: 1px 1px #010000;
}

h1 {
   color: #010000;
   font-family: Papyrus;
   text-shadow: 3px 1px #E4DfD9;
   font-size: 60px;
   /*text-indent: 1em;*/
}
h2 {
   text-indent: 2em;
   text-shadow: 2px 2px #010000;
}
