body { 
	background: transparent url('http://i.imgur.com/3iTQfwK.jpg') repeat;
	
}
p {
	font-family:'Lobster', cursive;
	color: #6495ED;
	text-align: center;
	text-indent: 1.5em;
	text-shadow: 1px 1px #000000;
	font-size: 2em;
}
#small {
	font-size: 19px;
	font-family: Impact;

}
#pull {
	position: relative;
}
#move {
	position: relative;

}
#black {
	color: #000;
}


#header-nav {
	background-color: #000000;
	border-radius: 0;
	border: 0;
}
h1 {
	text-shadow: 2px 2px #6495ED;
	text-align: center;
	font-family: "refrigerator-deluxe",sans-serif;
	border-style: double;

}
.container .jumbotron {
	margin-top: 30px;
	padding: 0;
	box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid 3f0c1f;
}

#specials-tile, #astro-tile, #blow-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #D2DA8C;
	overflow: hidden;
}
#specials-tile:hover, #astro-tile:hover, #blow-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#specials-tile {
	background: url('http://i.imgur.com/6PKG5Oj.jpg?2') no-repeat;
	background-position: center;
}
#astro-tile {
	background: url('http://i.imgur.com/6ikPiki.jpg?1') no-repeat;
	background-position: center;
}
#blow-tile {
	background: url('http://i.imgur.com/tVi1dwP.jpg?1') no-repeat;
	background-position: center;
}
#specials-tile span, #astro-tile span, #blow-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
/*--Thorium.html tile sec--*/
#atom-tile, #chain-tile, #cast-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #D2DA8C;
	overflow: hidden;
}
.row div span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;

}
#atom-tile {
	background: url('http://i.imgur.com/YvRnqqm.jpg?1') no-repeat;
	background-position: center;

}
#chain-tile {
	background: url('http://i.imgur.com/ySyfA56.jpg') no-repeat;
	background-position: center;

}
#cast-tile {
	background: url('http://i.imgur.com/Q11UqIr.jpg?1') no-repeat;
	background-position: center;

}
/*---Neptunium.html tile Section---*/
#alloy-tile, #tin-tile, #crystal-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #D2DA8C;
	overflow: hidden;

}
#alloy-tile {
	background: url('http://i.imgur.com/YvRnqqm.jpg?1') no-repeat;
	background-position: center;


}
#tin-tile {
	background: url('http://i.imgur.com/UlsXDl7.jpg?1') no-repeat;
	background-position: center;

}
#crystal-tile {
	background: url('http://i.imgur.com/3hu5Jif.jpg?1') no-repeat;
	background-position: center;

}


