body {
  background-image:url(../images/NinaFirstSchool.jpg) 

}
h1 {
	color: #000000;
	font-size: 40px;
	text-shadow: 2px 1px #B23959;
}
iframe {
	border: #000000 4px solid;

}
.footer {
	color: #000000;
	font-size: 20px;
	text-shadow: 1px 1px #2A43C6;
}

@media(max-width: 768px){
	#showcase iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}