body {
	background-image: url('http://i.imgur.com/7ghNEl5.jpg');
	font-family: Papyrus;
	text-shadow: 1px 1px #6495ED;
}
h1 {
  font-family: Papyrus;
  text-shadow: 2px 2px #6495ED;
}
h2 {
	font-size: 30px;

}