body {
  background-image:url('https://i.imgur.com/aUnxiO5.jpg');
  background-repeat: repeat;
  background-size: auto; 

}
h1 {
	color: #DC143C;
	font-size: 40px;
	text-shadow: 2px 1px #EBEDED;
}
iframe {
	border: #000000 4px solid;

}
.footer {
	color: #DC143C;
	font-size: 20px;
	text-shadow: 1px 1px #EBEDED;
}
@media(max-width: 768px){
	#showcase iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}
