body {
	background-image: url(../images/Victory1.jpg);
}
#showcase iframe {
	box-shadow: 3px 3px #000000;

}
 h1, p {
	color: #FFFFE0;
	font-size: 40px;
	text-shadow: 2px 1px #000000;

}

@media(max-width: 768px){
	#showcase iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}

}