body{
  background-image: url(../images/christ.jpg);
}

h1 {
	color: #F6D866;
	font-size: 40px;
	text-shadow: 2px 1px #323237;
}
.footer {
	color: #F6D866;
}

@media(max-width: 768px){
	#showcase iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}

}