body {
	background-image: url(../images/Fbvid2.jpg);
}

 iframe {
	box-shadow: 3px 3px #000000;

}

@media(max-width: 768px){
    iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}

}