body {
  background-image:url(../images/Screen%20Shot%202017-12-25%20at%2010.00.54%20PM.png) 

}
h1 {
	color: #000000;
	font-size: 40px;
	text-shadow: 2px 1px blue;
}
iframe {
	border: #000000 4px solid;

}
.footer {
	color: #000000;
	text-shadow: 1px 1px blue;
}

@media(max-width: 768px){
	#showcase iframe,
	h1, p {
		float: none;
		text-align: center;
		width: 100%;
	}

}