body {
	background-image: url('http://i.imgur.com/sl2PUqC.jpg');
}
h1 {
	color: #1D5EAC;
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 90px;
	text-shadow: 2px 4px #FFD700;
}
h2 {
	color: #000000;
	text-align: center;
	font-family: Papyrus;
	font-size: 60px;
	text-shadow: 1px 1px #FFD700;
}
#header-nav {
	background-image: url('http://i.imgur.com/IzvGeZY.jpg');
}
.astro {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: #FFD700;
    text-decoration: underline;
    text-shadow: 1px 3px #000000;
}
button {
	color: #000000;
    background-image: url('http://i.imgur.com/sl2PUqC.jpg');
    border-color: #6495ed;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px #FFD700;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px;	
}
